<header class="header">
  <div class="logo">
    <a href="/">
      <img
        src="/assets/images/canopi_logo_white.svg"
        class="logo"
        alt="Canopi Logo"
      />
    </a>
  </div>
  <nav class="tabs">
    {% for item in site.data.header %}
    <a href="{{ item.link }}"
      {% if item.highlight == true %}
        class="highlight-tab"
      {% else %}
        {% if page.url == item.link %}
          class="current-tab"
        {% else %}
          class="tab"
        {% endif %}
      {% endif %}
      >
        {{ item.name }}
      </a>
    {% endfor %}
  </nav>
</header>
