<div class="section">
  <div class="section-text">
    <h1 class="section-title">
      {% for item in include.data.title %} {{ item }} <br />
      {% endfor %}
    </h1>
    <div class="section-content">
      {% for item in include.data.content %}
      <p>{{ item }}</p>
      {% endfor %}
    </div>
    {% if include.data.button %}
      <a href="{{ include.data.button.link }}" class="section-button">
        {{ include.data.button.text }}
      </a>
    {% endif %}
  </div>
  {% if include.data.image %}
    <div class="section-image">
        <img src="{{ include.data.image }}" />
    </div>
  {% endif %}
</div>
