.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: $header-height;
  background-color: $primary-color;
  padding: 0 128px;
  z-index: 1000;
}

.logo img {
  height: 40px;
  width: auto;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 32px;
}

.current-tab,
.highlight-tab,
.tab {
  display: flex;
  flex-direction: row;
  width: fit-content;
  border-radius: 32px;
  padding: 8px 16px;
  font-size: large;
  text-decoration: none;
}

.current-tab {
  color: $white;
  background-color: $primary-color-dark;
}

.tab {
  color: $white;
  &:hover {
    background-color: $primary-color-dark;
    cursor: pointer;
  }
}

.highlight-tab {
  background-color: $neutral-0;
  border: 2px solid $neutral-0;
  color: $primary-color-dark;
  font-weight: 600;

  &:hover {
    background-color: $neutral-1;
    border: 2px solid $neutral-1;
    cursor: pointer;
  }
}
