$primary-color: #63a680;
$primary-color-dark: #418863;

$white: #fafbfb;
$black: #181b1a;
$transparent: transparent;

$neutral-0: #f6f7f7;
$neutral-1: #e2e5e3;
$neutral-2: #c4cbc7;
$neutral-3: #9fa9a2;
$neutral-4: #7a877f;
$neutral-5: #606c65;
$neutral-6: #4c5550;
$neutral-7: #3f4643;
$neutral-8: #353a38;
$neutral-9: #2e3330;

$font-stack: Inter, Helvetica, sans-serif;

$header-height: 100px;
